# Deduplicating data

In this notebook, we deduplicate data using the [Dedupe](https://docs.dedupe.io/) library, which uses a flat neural network to learn from a little training.

<div class="alert alert-block alert-info">
<b>See also:</b>
    <p><a href="https://github.com/dedupeio/csvdedupe">csvdedupe</a> offers a command line interface for Dedupe.</p>
</div>

In addition, the same developers have created [parserator](https://github.com/datamade/parserator), which you can use to extract text functions and train your own text extraction.

## 1. Load sample data

In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv('https://raw.githubusercontent.com/kjam/data-cleaning-101/master/data/customer_data_duped.csv',
                        encoding='utf-8')

## 2. Deduplicate with pandas

In [3]:
customers

,name,job,company,street_address,city,state,email,user_name
0,Patricia Schaefer,"Programmer, systems",Estrada-Best,398 Paul Drive,Christianview,Delaware,lambdavid@gmail.com,ndavidson
1,Olivie Dubois,Ingénieur recherche et développement en agroal...,Moreno,rue Lucas Benard,Saint Anastasie-les-Bains,AR,berthelotjacqueline@mahe.fr,manonallain
2,Mary Davies-Kirk,Public affairs consultant,Baker Ltd,Flat 3\nPugh mews,Stanleyfurt,ZA,middletonconor@hotmail.com,colemanmichael
3,Miroslawa Eckbauer,Dispensing optician,Ladeck GmbH,Mijo-Lübs-Straße 12,Neubrandenburg,Berlin,sophia01@yahoo.de,romanjunitz
4,Richard Bauer,"Accountant, chartered certified",Hoffman-Rocha,6541 Rodriguez Wall,Carlosmouth,Texas,tross@jensen-ware.org,adam78
...,...,...,...,...,...,...,...,...
2075,Maurice Stey,Systems developer,Linke Margraf GmbH & Co. OHG,Laila-Scheibe-Allee 2/0,Luckenwalde,Hamburg,gutknechtevelyn@niemeier.com,dkreusel
2076,Linda Alexander,Commrcil horiculuri,"Webb, Ballald and Vasquel",5594 Persn Ciff,Mooneybury,Maryland,ahleythoa@ail.co,kennethrchn
2077,Diane Bailly,Pharmacien,Voisin,"527, rue Dijoux",Duval-les-Bains,CH,aruiz@reynaud.fr,dorothee41
2078,Jorge Riba Cerdán,Hotel manager,Amador-Diego,Rambla de Adriana Barceló 854 Puerta 3,Huesca,Asturias,manuelamosquera@yahoo.com,eugenia17
2079,Ryan Thompson,Brewing technologist,Smith-Sullivan,136 Rodriguez Point,Bradfordborough,North Dakota,lcruz@gmail.com,cnewton

### 2.2 Show data types

For this we use [pandas.DataFrame.dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html):

In [4]:
customers.dtypes

name              object
job               object
company           object
street_address    object
city              object
state             object
email             object
user_name         object
dtype: object

### 2.3 Determine missing values

[pandas.isnull](https://pandas.pydata.org/docs/reference/api/pandas.isnull.html) shows for an array-like object whether values are missing:

* `NaN` in numeric arrays
* `None` or `NaN` in object arrays
* `NaT` in datetimelike

> **See also:**
> 
> * [notna](https://pandas.pydata.org/docs/reference/api/pandas.notna.html) for the boolean inverse of [pandas.isna](https://pandas.pydata.org/docs/reference/api/pandas.isna.html)
> * [Series.isna](https://pandas.pydata.org/docs/reference/api/pandas.Series.isna.html) for the missing values in a series
> * [DataFrame.isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) for the missing values in a DataFrame
> * [Index.isna](https://pandas.pydata.org/docs/reference/api/pandas.Index.isna.html) for the missing values in an index

In [5]:
for col in customers.columns:
    print(col, customers[col].isnull().sum())

name 0
job 0
company 0
street_address 0
city 0
state 0
email 0
user_name 0

### 2.4 Determine duplicate records

In [6]:
customers.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2075    False
2076    False
2077    False
2078    False
2079    False
Length: 2080, dtype: bool

`customers.duplicated()` does not yet give us the desired indication of whether there are duplicate records. In the following, we will output all data records for which `True` is returned:

In [7]:
customers[customers.duplicated()]

Empty DataFrame
Columns: [name, job, company, street_address, city, state, email, user_name]
Index: []

Apparently there are no duplicated records.

### 2.5 Delete duplicated data

Deleting duplicated records with `drop_duplicates` should therefore not change anything and leave the number of records at 2080:

In [8]:
customers.drop_duplicates()

,name,job,company,street_address,city,state,email,user_name
0,Patricia Schaefer,"Programmer, systems",Estrada-Best,398 Paul Drive,Christianview,Delaware,lambdavid@gmail.com,ndavidson
1,Olivie Dubois,Ingénieur recherche et développement en agroal...,Moreno,rue Lucas Benard,Saint Anastasie-les-Bains,AR,berthelotjacqueline@mahe.fr,manonallain
2,Mary Davies-Kirk,Public affairs consultant,Baker Ltd,Flat 3\nPugh mews,Stanleyfurt,ZA,middletonconor@hotmail.com,colemanmichael
3,Miroslawa Eckbauer,Dispensing optician,Ladeck GmbH,Mijo-Lübs-Straße 12,Neubrandenburg,Berlin,sophia01@yahoo.de,romanjunitz
4,Richard Bauer,"Accountant, chartered certified",Hoffman-Rocha,6541 Rodriguez Wall,Carlosmouth,Texas,tross@jensen-ware.org,adam78
...,...,...,...,...,...,...,...,...
2075,Maurice Stey,Systems developer,Linke Margraf GmbH & Co. OHG,Laila-Scheibe-Allee 2/0,Luckenwalde,Hamburg,gutknechtevelyn@niemeier.com,dkreusel
2076,Linda Alexander,Commrcil horiculuri,"Webb, Ballald and Vasquel",5594 Persn Ciff,Mooneybury,Maryland,ahleythoa@ail.co,kennethrchn
2077,Diane Bailly,Pharmacien,Voisin,"527, rue Dijoux",Duval-les-Bains,CH,aruiz@reynaud.fr,dorothee41
2078,Jorge Riba Cerdán,Hotel manager,Amador-Diego,Rambla de Adriana Barceló 854 Puerta 3,Huesca,Asturias,manuelamosquera@yahoo.com,eugenia17
2079,Ryan Thompson,Brewing technologist,Smith-Sullivan,136 Rodriguez Point,Bradfordborough,North Dakota,lcruz@gmail.com,cnewton

Now we want to delete only those records whose `user_name` is identical:

In [9]:
customers.drop_duplicates(['user_name'])

,name,job,company,street_address,city,state,email,user_name
0,Patricia Schaefer,"Programmer, systems",Estrada-Best,398 Paul Drive,Christianview,Delaware,lambdavid@gmail.com,ndavidson
1,Olivie Dubois,Ingénieur recherche et développement en agroal...,Moreno,rue Lucas Benard,Saint Anastasie-les-Bains,AR,berthelotjacqueline@mahe.fr,manonallain
2,Mary Davies-Kirk,Public affairs consultant,Baker Ltd,Flat 3\nPugh mews,Stanleyfurt,ZA,middletonconor@hotmail.com,colemanmichael
3,Miroslawa Eckbauer,Dispensing optician,Ladeck GmbH,Mijo-Lübs-Straße 12,Neubrandenburg,Berlin,sophia01@yahoo.de,romanjunitz
4,Richard Bauer,"Accountant, chartered certified",Hoffman-Rocha,6541 Rodriguez Wall,Carlosmouth,Texas,tross@jensen-ware.org,adam78
...,...,...,...,...,...,...,...,...
2074,Rhonda James,Recruitment consultant,"Turner, Bradley and Scott",28382 Stokes Expressway,Port Gabrielaport,New Hampshire,zroberts@hotmail.com,heathscott
2076,Linda Alexander,Commrcil horiculuri,"Webb, Ballald and Vasquel",5594 Persn Ciff,Mooneybury,Maryland,ahleythoa@ail.co,kennethrchn
2077,Diane Bailly,Pharmacien,Voisin,"527, rue Dijoux",Duval-les-Bains,CH,aruiz@reynaud.fr,dorothee41
2078,Jorge Riba Cerdán,Hotel manager,Amador-Diego,Rambla de Adriana Barceló 854 Puerta 3,Huesca,Asturias,manuelamosquera@yahoo.com,eugenia17
2079,Ryan Thompson,Brewing technologist,Smith-Sullivan,136 Rodriguez Point,Bradfordborough,North Dakota,lcruz@gmail.com,cnewton

This deleted 51 records.

## 3. dedupe

Alternatively, we can detect the duplicated data with the [Dedupe](https://docs.dedupe.io/) library, which uses a flat neural network to learn from a small training.

> **See also:**
> 
> [csvdedupe](https://github.com/dedupeio/csvdedupe) provides a command line tool for dedupe.

In addition, the same developers have created [parserator](https://github.com/datamade/parserator), which you can use to extract text functions and train your own text extraction.

### 3.1 Configure Dedupe

Now we define the fields to be taken care of during deduplication and create a new `deduper` object:

In [10]:
import dedupe
import os

customers = pd.read_csv('https://raw.githubusercontent.com/kjam/data-cleaning-101/master/data/customer_data_duped.csv',
                        encoding='utf-8')

In [11]:
variables = [
    {'field': 'name', 'type': 'String'},
    {'field': 'job', 'type': 'String'},
    {'field': 'company', 'type': 'String'},  
    {'field': 'street_address','type': 'String'},
    {'field': 'city','type': 'String'},
    {'field': 'state', 'type': 'String', 'has_missing': True},
    {'field': 'email', 'type': 'String', 'has_missing': True},
    {'field': 'user_name', 'type': 'String'},
]

deduper = dedupe.Dedupe(variables)

If the value of a field is missing, this missing value should be represented as a `None` object. However, by `'has_missing': True`, a new, additional field is created to indicate whether the data was present or not, and the missing data is given a null.

> **See also:**
> 
> [Missing Data](https://docs.dedupe.io/en/latest/Variable-definition.html#missing-data)

In [12]:
deduper

In [13]:
customers.shape

(2080, 8)

## 4. Create training data

In [14]:
deduper.prepare_training(customers.T.to_dict())

[prepare_training](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.Dedupe.prepare_training) initialises active learning with our data and, optionally, with existing training data.

`T` mirrors the DataFrame across its diagonal by writing rows as columns and vice versa. For this, [pandas.DataFrame.transpose](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transpose.html) is used.

## 5. Active learning

Use [dedupe.console_label](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.console_label) to train your dedupe instance. When Dedupe finds a record pair, you will be asked to label it as a duplicate. You can use the `y`, `n` and `u` keys to label duplicates. Press `f` when you are finished.

In [15]:
dedupe.console_label(deduper)

name : Frédérique Lejeune-Daniel
job : Technicien chimiste
company : Schmitt
street_address : chemin Denise Ferrand
city : Saint CharlotteVille
state : IE
email : jchretien@costa.com
user_name : joseph60

name : Frédérique Lejeune-Daniel
job : Tecce cse
company : Sctmitt
street_address : chemin Denise Ferrand
city : Saint ChalotteVille
state : IE
email : jchretien@costacom
user_name : joseph60

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished

y

name : Jose Carlos Pérez Arias
job : Engineer, maintenance (IT)
company : Marquez PLC
street_address : Pasadizo Ángel Sureda 715 Piso 3
city : La Rioja
state : Córdoba
email : cifuentesraquel@peralta.com
user_name : gonzalo63

name : Jose Carlos Pérez Arias
job : Egieer, maiteace (IT)
company : Marquez PLC
street_address : Psdizo Ángel Sured 715 Piso
city : La Rioja
state : Córdob
email : ifuenteraque@perata.om
user_name : gonzalo6

1/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

name : Julio Agustín Amaya
job : Tax adviser
company : Piñol, Belmonte and Codina
street_address : Callejón de Gregorio Bustamante 28 Piso 7
city : Las Palmas
state : Salamanca
email : usolana@jáuregui-pedraza.com
user_name : gloriaolmo

name : Julio Agustín Amaya
job : Tax aviser
company : Piñolk Belmonke and Codina
street_address : Calleón de Gregorio Bustamante 28 Piso 7
city : La Pala
state : Salamanca
email : usolana@jáuregui-pedraza.om
user_name : gloriaolmo

2/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

name : Monique Marty
job : Maoqiie
company : Arnfud
street_address : 70, rue de Carre
city : CheallierBour
state : EC
email : frederiquerichard@cohen.com
user_name : marquesseastie

name : Monique Marty
job : Maroquinier
company : Arnaud
street_address : 70, rue de Carre
city : ChevallierBourg
state : EC
email : frederiquerichard@cohen.com
user_name : marquessebastien

3/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

name : Susan Aubry
job : Direeur d'gee bire
company : Payet George2 S2A2S2
street_address : , rue Inè Valentn
city : Nicolas
state : FI
email : milletedith@sf.f
user_name : tthierry

name : Susan Aubry
job : Directeur d'agence bancaire
company : Payet Georges S.A.S.
street_address : 67, rue Inès Valentin
city : Nicolas
state : FI
email : milletedith@sfr.fr
user_name : tthierry

4/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

f

Finished labeling

The last training dataset compared make it clear that we did not delete this duplicate with our `drop_duplicates` example above - `marquesseastie` and `marquessebastien` were recognised as different.

[Dedupe.train](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.Dedupe.train) adds the record pairs you marked to the training data and updates the matching model.

With `index_predicates=True`, deduplication also takes into account predicates based on the indexing of the data.

When you are done, save your training data with [Dedupe.write_settings](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.Dedupe.write_settings).

In [16]:
settings_file = 'csv_example_learned_settings'
if os.path.exists(settings_file):
    print('reading from', settings_file)
    with open(settings_file, 'rb') as f:
        deduper = dedupe.StaticDedupe(f)
else:
    deduper.train(index_predicates=True)
    with open(settings_file, 'wb') as sf:
        deduper.write_settings(sf)

With [dedupe.Dedupe.partition](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.Dedupe.partition), records that all refer to the same entity are identified and returned as tuples that are a sequence of record IDs and confidence values. For more details on the confidence value, see [dedupe.Dedupe.cluster](https://docs.dedupe.io/en/latest/API-documentation.html#dedupe.Dedupe.cluster).

In [17]:
dupes = deduper.partition(customers.T.to_dict())

In [18]:
dupes

[((84, 1600), (1.0, 1.0)),
 ((136, 1360), (1.0, 1.0)),
 ((670, 1170), (1.0, 1.0)),
 ((856, 1781), (1.0, 1.0)),
 ((902, 942), (1.0, 1.0)),
 ((1395, 1560), (1.0, 1.0)),
 ((1594, 1706), (1.0, 1.0)),
 ((0,), (1.0,)),
 ((1,), (1.0,)),
 ((2,), (1.0,)),
 ((3,), (1.0,)),
 ((4,), (1.0,)),
 ((5,), (1.0,)),
 ((6,), (1.0,)),
 ((7,), (1.0,)),
 ((8,), (1.0,)),
 ((9,), (1.0,)),
 ((10,), (1.0,)),
 ((11,), (1.0,)),
 ((12,), (1.0,)),
 ((13,), (1.0,)),
 ((14,), (1.0,)),
 ((15,), (1.0,)),
 ((16,), (1.0,)),
 ((17,), (1.0,)),
 ((18,), (1.0,)),
 ((19,), (1.0,)),
 ((20,), (1.0,)),
 ((21,), (1.0,)),
 ((22,), (1.0,)),
 ((23,), (1.0,)),
 ((24,), (1.0,)),
 ((25,), (1.0,)),
 ((26,), (1.0,)),
 ((27,), (1.0,)),
 ((28,), (1.0,)),
 ((29,), (1.0,)),
 ((30,), (1.0,)),
 ((31,), (1.0,)),
 ((32,), (1.0,)),
 ((33,), (1.0,)),
 ((34,), (1.0,)),
 ((35,), (1.0,)),
 ((36,), (1.0,)),
 ((37,), (1.0,)),
 ((38,), (1.0,)),
 ((39,), (1.0,)),
 ((40,), (1.0,)),
 ((41,), (1.0,)),
 ((42,), (1.0,)),
 ((43,), (1.0,)),
 ((44,), (1.0,)),
 ((45,), (1.0,)),
 ((46,), (1.0,)),
 ((47,), (1.0,)),
 ((48,), (1.0,)),
 ((49,), (1.0,)),
 ((50,), (1.0,)),
 ((51,), (1.0,)),
 ((52,), (1.0,)),
 ((53,), (1.0,)),
 ((54,), (1.0,)),
 ((55,), (1.0,)),
 ((56,), (1.0,)),
 ((57,), (1.0,)),
 ((58,), (1.0,)),
 ((59,), (1.0,)),
 ((60,), (1.0,)),
 ((61,), (1.0,)),
 ((62,), (1.0,)),
 ((63,), (1.0,)),
 ((64,), (1.0,)),
 ((65,), (1.0,)),
 ((66,), (1.0,)),
 ((67,), (1.0,)),
 ((68,), (1.0,)),
 ((69,), (1.0,)),
 ((70,), (1.0,)),
 ((71,), (1.0,)),
 ((72,), (1.0,)),
 ((73,), (1.0,)),
 ((74,), (1.0,)),
 ((75,), (1.0,)),
 ((76,), (1.0,)),
 ((77,), (1.0,)),
 ((78,), (1.0,)),
 ((79,), (1.0,)),
 ((80,), (1.0,)),
 ((81,), (1.0,)),
 ((82,), (1.0,)),
 ((83,), (1.0,)),
 ((85,), (1.0,)),
 ((86,), (1.0,)),
 ((87,), (1.0,)),
 ((88,), (1.0,)),
 ((89,), (1.0,)),
 ((90,), (1.0,)),
 ((91,), (1.0,)),
 ((92,), (1.0,)),
 ((93,), (1.0,)),
 ((94,), (1.0,)),
 ((95,), (1.0,)),
 ((96,), (1.0,)),
 ((97,), (1.0,)),
 ((98,), (1.0,)),
 ((99,), (1.0,)),
 ((100,), (1.0,)),
 ((101,), (1.0,)),
 ((102,), (1.0,)),
 ((103,), (1.0,)),
 ((104,), (1.0,)),
 ((105,), (1.0,)),
 ((106,), (1.0,)),
 ((107,), (1.0,)),
 ((108,), (1.0,)),
 ((109,), (1.0,)),
 ((110,), (1.0,)),
 ((111,), (1.0,)),
 ((112,), (1.0,)),
 ((113,), (1.0,)),
 ((114,), (1.0,)),
 ((115,), (1.0,)),
 ((116,), (1.0,)),
 ((117,), (1.0,)),
 ((118,), (1.0,)),
 ((119,), (1.0,)),
 ((120,), (1.0,)),
 ((121,), (1.0,)),
 ((122,), (1.0,)),
 ((123,), (1.0,)),
 ((124,), (1.0,)),
 ((125,), (1.0,)),
 ((126,), (1.0,)),
 ((127,), (1.0,)),
 ((128,), (1.0,)),
 ((129,), (1.0,)),
 ((130,), (1.0,)),
 ((131,), (1.0,)),
 ((132,), (1.0,)),
 ((133,), (1.0,)),
 ((134,), (1.0,)),
 ((135,), (1.0,)),
 ((137,), (1.0,)),
 ((138,), (1.0,)),
 ((139,), (1.0,)),
 ((140,), (1.0,)),
 ((141,), (1.0,)),
 ((142,), (1.0,)),
 ((143,), (1.0,)),
 ((144,), (1.0,)),
 ((145,), (1.0,)),
 ((146,), (1.0,)),
 ((147,), (1.0,)),
 ((148,), (1.0,)),
 ((149,), (1.0,)),
 ((150,), (1.0,)),
 ((151,), (1.0,)),
 ((152,), (1.0,)),
 ((153,), (1.0,)),
 ((154,), (1.0,)),
 ((155,), (1.0,)),
 ((156,), (1.0,)),
 ((157,), (1.0,)),
 ((158,), (1.0,)),
 ((159,), (1.0,)),
 ((160,), (1.0,)),
 ((161,), (1.0,)),
 ((162,), (1.0,)),
 ((163,), (1.0,)),
 ((164,), (1.0,)),
 ((165,), (1.0,)),
 ((166,), (1.0,)),
 ((167,), (1.0,)),
 ((168,), (1.0,)),
 ((169,), (1.0,)),
 ((170,), (1.0,)),
 ((171,), (1.0,)),
 ((172,), (1.0,)),
 ((173,), (1.0,)),
 ((174,), (1.0,)),
 ((175,), (1.0,)),
 ((176,), (1.0,)),
 ((177,), (1.0,)),
 ((178,), (1.0,)),
 ((179,), (1.0,)),
 ((180,), (1.0,)),
 ((181,), (1.0,)),
 ((182,), (1.0,)),
 ((183,), (1.0,)),
 ((184,), (1.0,)),
 ((185,), (1.0,)),
 ((186,), (1.0,)),
 ((187,), (1.0,)),
 ((188,), (1.0,)),
 ((189,), (1.0,)),
 ((190,), (1.0,)),
 ((191,), (1.0,)),
 ((192,), (1.0,)),
 ((193,), (1.0,)),
 ((194,), (1.0,)),
 ((195,), (1.0,)),
 ((196,), (1.0,)),
 ((197,), (1.0,)),
 ((198,), (1.0,)),
 ((199,), (1.0,)),
 ((200,), (1.0,)),
 ((201,), (1.0,)),
 ((202,), (1.0,)),
 ((203,), (1.0,)),
 ((204,), (1.0,)),
 ((205,), (1.0,)),
 ((206,), (1.0,)),
 ((207,), (1.0,)),
 ((208,), (1.0,)),
 ((209,), (1.0,)),
 ((210,), (1.0,)),
 ((211,), (1.0,)),
 ((212,), (1.0,)),
 ((213,), (1.0,)),
 ((214,), (1.0,)),
 ((215,), (1.0,)),
 ((216,), (1.0,)),
 ((217,), (1.0,)),
 ((218,), (1.0,)),
 ((219,), (1.0,)),
 ((220,), (1.0,)),
 ((221,), (1.0,)),
 ((222,), (1.0,)),
 ((223,), (1.0,)),
 ((224,), (1.0,)),
 ((225,), (1.0,)),
 ((226,), (1.0,)),
 ((227,), (1.0,)),
 ((228,), (1.0,)),
 ((229,), (1.0,)),
 ((230,), (1.0,)),
 ((231,), (1.0,)),
 ((232,), (1.0,)),
 ((233,), (1.0,)),
 ((234,), (1.0,)),
 ((235,), (1.0,)),
 ((236,), (1.0,)),
 ((237,), (1.0,)),
 ((238,), (1.0,)),
 ((239,), (1.0,)),
 ((240,), (1.0,)),
 ((241,), (1.0,)),
 ((242,), (1.0,)),
 ((243,), (1.0,)),
 ((244,), (1.0,)),
 ((245,), (1.0,)),
 ((246,), (1.0,)),
 ((247,), (1.0,)),
 ((248,), (1.0,)),
 ((249,), (1.0,)),
 ((250,), (1.0,)),
 ((251,), (1.0,)),
 ((252,), (1.0,)),
 ((253,), (1.0,)),
 ((254,), (1.0,)),
 ((255,), (1.0,)),
 ((256,), (1.0,)),
 ((257,), (1.0,)),
 ((258,), (1.0,)),
 ((259,), (1.0,)),
 ((260,), (1.0,)),
 ((261,), (1.0,)),
 ((262,), (1.0,)),
 ((263,), (1.0,)),
 ((264,), (1.0,)),
 ((265,), (1.0,)),
 ((266,), (1.0,)),
 ((267,), (1.0,)),
 ((268,), (1.0,)),
 ((269,), (1.0,)),
 ((270,), (1.0,)),
 ((271,), (1.0,)),
 ((272,), (1.0,)),
 ((273,), (1.0,)),
 ((274,), (1.0,)),
 ((275,), (1.0,)),
 ((276,), (1.0,)),
 ((277,), (1.0,)),
 ((278,), (1.0,)),
 ((279,), (1.0,)),
 ((280,), (1.0,)),
 ((281,), (1.0,)),
 ((282,), (1.0,)),
 ((283,), (1.0,)),
 ((284,), (1.0,)),
 ((285,), (1.0,)),
 ((286,), (1.0,)),
 ((287,), (1.0,)),
 ((288,), (1.0,)),
 ((289,), (1.0,)),
 ((290,), (1.0,)),
 ((291,), (1.0,)),
 ((292,), (1.0,)),
 ((293,), (1.0,)),
 ((294,), (1.0,)),
 ((295,), (1.0,)),
 ((296,), (1.0,)),
 ((297,), (1.0,)),
 ((298,), (1.0,)),
 ((299,), (1.0,)),
 ((300,), (1.0,)),
 ((301,), (1.0,)),
 ((302,), (1.0,)),
 ((303,), (1.0,)),
 ((304,), (1.0,)),
 ((305,), (1.0,)),
 ((306,), (1.0,)),
 ((307,), (1.0,)),
 ((308,), (1.0,)),
 ((309,), (1.0,)),
 ((310,), (1.0,)),
 ((311,), (1.0,)),
 ((312,), (1.0,)),
 ((313,), (1.0,)),
 ((314,), (1.0,)),
 ((315,), (1.0,)),
 ((316,), (1.0,)),
 ((317,), (1.0,)),
 ((318,), (1.0,)),
 ((319,), (1.0,)),
 ((320,), (1.0,)),
 ((321,), (1.0,)),
 ((322,), (1.0,)),
 ((323,), (1.0,)),
 ((324,), (1.0,)),
 ((325,), (1.0,)),
 ((326,), (1.0,)),
 ((327,), (1.0,)),
 ((328,), (1.0,)),
 ((329,), (1.0,)),
 ((330,), (1.0,)),
 ((331,), (1.0,)),
 ((332,), (1.0,)),
 ((333,), (1.0,)),
 ((334,), (1.0,)),
 ((335,), (1.0,)),
 ((336,), (1.0,)),
 ((337,), (1.0,)),
 ((338,), (1.0,)),
 ((339,), (1.0,)),
 ((340,), (1.0,)),
 ((341,), (1.0,)),
 ((342,), (1.0,)),
 ((343,), (1.0,)),
 ((344,), (1.0,)),
 ((345,), (1.0,)),
 ((346,), (1.0,)),
 ((347,), (1.0,)),
 ((348,), (1.0,)),
 ((349,), (1.0,)),
 ((350,), (1.0,)),
 ((351,), (1.0,)),
 ((352,), (1.0,)),
 ((353,), (1.0,)),
 ((354,), (1.0,)),
 ((355,), (1.0,)),
 ((356,), (1.0,)),
 ((357,), (1.0,)),
 ((358,), (1.0,)),
 ((359,), (1.0,)),
 ((360,), (1.0,)),
 ((361,), (1.0,)),
 ((362,), (1.0,)),
 ((363,), (1.0,)),
 ((364,), (1.0,)),
 ((365,), (1.0,)),
 ((366,), (1.0,)),
 ((367,), (1.0,)),
 ((368,), (1.0,)),
 ((369,), (1.0,)),
 ((370,), (1.0,)),
 ((371,), (1.0,)),
 ((372,), (1.0,)),
 ((373,), (1.0,)),
 ((374,), (1.0,)),
 ((375,), (1.0,)),
 ((376,), (1.0,)),
 ((377,), (1.0,)),
 ((378,), (1.0,)),
 ((379,), (1.0,)),
 ((380,), (1.0,)),
 ((381,), (1.0,)),
 ((382,), (1.0,)),
 ((383,), (1.0,)),
 ((384,), (1.0,)),
 ((385,), (1.0,)),
 ((386,), (1.0,)),
 ((387,), (1.0,)),
 ((388,), (1.0,)),
 ((389,), (1.0,)),
 ((390,), (1.0,)),
 ((391,), (1.0,)),
 ((392,), (1.0,)),
 ((393,), (1.0,)),
 ((394,), (1.0,)),
 ((395,), (1.0,)),
 ((396,), (1.0,)),
 ((397,), (1.0,)),
 ((398,), (1.0,)),
 ((399,), (1.0,)),
 ((400,), (1.0,)),
 ((401,), (1.0,)),
 ((402,), (1.0,)),
 ((403,), (1.0,)),
 ((404,), (1.0,)),
 ((405,), (1.0,)),
 ((406,), (1.0,)),
 ((407,), (1.0,)),
 ((408,), (1.0,)),
 ((409,), (1.0,)),
 ((410,), (1.0,)),
 ((411,), (1.0,)),
 ((412,), (1.0,)),
 ((413,), (1.0,)),
 ((414,), (1.0,)),
 ((415,), (1.0,)),
 ((416,), (1.0,)),
 ((417,), (1.0,)),
 ((418,), (1.0,)),
 ((419,), (1.0,)),
 ((420,), (1.0,)),
 ((421,), (1.0,)),
 ((422,), (1.0,)),
 ((423,), (1.0,)),
 ((424,), (1.0,)),
 ((425,), (1.0,)),
 ((426,), (1.0,)),
 ((427,), (1.0,)),
 ((428,), (1.0,)),
 ((429,), (1.0,)),
 ((430,), (1.0,)),
 ((431,), (1.0,)),
 ((432,), (1.0,)),
 ((433,), (1.0,)),
 ((434,), (1.0,)),
 ((435,), (1.0,)),
 ((436,), (1.0,)),
 ((437,), (1.0,)),
 ((438,), (1.0,)),
 ((439,), (1.0,)),
 ((440,), (1.0,)),
 ((441,), (1.0,)),
 ((442,), (1.0,)),
 ((443,), (1.0,)),
 ((444,), (1.0,)),
 ((445,), (1.0,)),
 ((446,), (1.0,)),
 ((447,), (1.0,)),
 ((448,), (1.0,)),
 ((449,), (1.0,)),
 ((450,), (1.0,)),
 ((451,), (1.0,)),
 ((452,), (1.0,)),
 ((453,), (1.0,)),
 ((454,), (1.0,)),
 ((455,), (1.0,)),
 ((456,), (1.0,)),
 ((457,), (1.0,)),
 ((458,), (1.0,)),
 ((459,), (1.0,)),
 ((460,), (1.0,)),
 ((461,), (1.0,)),
 ((462,), (1.0,)),
 ((463,), (1.0,)),
 ((464,), (1.0,)),
 ((465,), (1.0,)),
 ((466,), (1.0,)),
 ((467,), (1.0,)),
 ((468,), (1.0,)),
 ((469,), (1.0,)),
 ((470,), (1.0,)),
 ((471,), (1.0,)),
 ((472,), (1.0,)),
 ((473,), (1.0,)),
 ((474,), (1.0,)),
 ((475,), (1.0,)),
 ((476,), (1.0,)),
 ((477,), (1.0,)),
 ((478,), (1.0,)),
 ((479,), (1.0,)),
 ((480,), (1.0,)),
 ((481,), (1.0,)),
 ((482,), (1.0,)),
 ((483,), (1.0,)),
 ((484,), (1.0,)),
 ((485,), (1.0,)),
 ((486,), (1.0,)),
 ((487,), (1.0,)),
 ((488,), (1.0,)),
 ((489,), (1.0,)),
 ((490,), (1.0,)),
 ((491,), (1.0,)),
 ((492,), (1.0,)),
 ((493,), (1.0,)),
 ((494,), (1.0,)),
 ((495,), (1.0,)),
 ((496,), (1.0,)),
 ((497,), (1.0,)),
 ((498,), (1.0,)),
 ((499,), (1.0,)),
 ((500,), (1.0,)),
 ((501,), (1.0,)),
 ((502,), (1.0,)),
 ((503,), (1.0,)),
 ((504,), (1.0,)),
 ((505,), (1.0,)),
 ((506,), (1.0,)),
 ((507,), (1.0,)),
 ((508,), (1.0,)),
 ((509,), (1.0,)),
 ((510,), (1.0,)),
 ((511,), (1.0,)),
 ((512,), (1.0,)),
 ((513,), (1.0,)),
 ((514,), (1.0,)),
 ((515,), (1.0,)),
 ((516,), (1.0,)),
 ((517,), (1.0,)),
 ((518,), (1.0,)),
 ((519,), (1.0,)),
 ((520,), (1.0,)),
 ((521,), (1.0,)),
 ((522,), (1.0,)),
 ((523,), (1.0,)),
 ((524,), (1.0,)),
 ((525,), (1.0,)),
 ((526,), (1.0,)),
 ((527,), (1.0,)),
 ((528,), (1.0,)),
 ((529,), (1.0,)),
 ((530,), (1.0,)),
 ((531,), (1.0,)),
 ((532,), (1.0,)),
 ((533,), (1.0,)),
 ((534,), (1.0,)),
 ((535,), (1.0,)),
 ((536,), (1.0,)),
 ((537,), (1.0,)),
 ((538,), (1.0,)),
 ((539,), (1.0,)),
 ((540,), (1.0,)),
 ((541,), (1.0,)),
 ((542,), (1.0,)),
 ((543,), (1.0,)),
 ((544,), (1.0,)),
 ((545,), (1.0,)),
 ((546,), (1.0,)),
 ((547,), (1.0,)),
 ((548,), (1.0,)),
 ((549,), (1.0,)),
 ((550,), (1.0,)),
 ((551,), (1.0,)),
 ((552,), (1.0,)),
 ((553,), (1.0,)),
 ((554,), (1.0,)),
 ((555,), (1.0,)),
 ((556,), (1.0,)),
 ((557,), (1.0,)),
 ((558,), (1.0,)),
 ((559,), (1.0,)),
 ((560,), (1.0,)),
 ((561,), (1.0,)),
 ((562,), (1.0,)),
 ((563,), (1.0,)),
 ((564,), (1.0,)),
 ((565,), (1.0,)),
 ((566,), (1.0,)),
 ((567,), (1.0,)),
 ((568,), (1.0,)),
 ((569,), (1.0,)),
 ((570,), (1.0,)),
 ((571,), (1.0,)),
 ((572,), (1.0,)),
 ((573,), (1.0,)),
 ((574,), (1.0,)),
 ((575,), (1.0,)),
 ((576,), (1.0,)),
 ((577,), (1.0,)),
 ((578,), (1.0,)),
 ((579,), (1.0,)),
 ((580,), (1.0,)),
 ((581,), (1.0,)),
 ((582,), (1.0,)),
 ((583,), (1.0,)),
 ((584,), (1.0,)),
 ((585,), (1.0,)),
 ((586,), (1.0,)),
 ((587,), (1.0,)),
 ((588,), (1.0,)),
 ((589,), (1.0,)),
 ((590,), (1.0,)),
 ((591,), (1.0,)),
 ((592,), (1.0,)),
 ((593,), (1.0,)),
 ((594,), (1.0,)),
 ((595,), (1.0,)),
 ((596,), (1.0,)),
 ((597,), (1.0,)),
 ((598,), (1.0,)),
 ((599,), (1.0,)),
 ((600,), (1.0,)),
 ((601,), (1.0,)),
 ((602,), (1.0,)),
 ((603,), (1.0,)),
 ((604,), (1.0,)),
 ((605,), (1.0,)),
 ((606,), (1.0,)),
 ((607,), (1.0,)),
 ((608,), (1.0,)),
 ((609,), (1.0,)),
 ((610,), (1.0,)),
 ((611,), (1.0,)),
 ((612,), (1.0,)),
 ((613,), (1.0,)),
 ((614,), (1.0,)),
 ((615,), (1.0,)),
 ((616,), (1.0,)),
 ((617,), (1.0,)),
 ((618,), (1.0,)),
 ((619,), (1.0,)),
 ((620,), (1.0,)),
 ((621,), (1.0,)),
 ((622,), (1.0,)),
 ((623,), (1.0,)),
 ((624,), (1.0,)),
 ((625,), (1.0,)),
 ((626,), (1.0,)),
 ((627,), (1.0,)),
 ((628,), (1.0,)),
 ((629,), (1.0,)),
 ((630,), (1.0,)),
 ((631,), (1.0,)),
 ((632,), (1.0,)),
 ((633,), (1.0,)),
 ((634,), (1.0,)),
 ((635,), (1.0,)),
 ((636,), (1.0,)),
 ((637,), (1.0,)),
 ((638,), (1.0,)),
 ((639,), (1.0,)),
 ((640,), (1.0,)),
 ((641,), (1.0,)),
 ((642,), (1.0,)),
 ((643,), (1.0,)),
 ((644,), (1.0,)),
 ((645,), (1.0,)),
 ((646,), (1.0,)),
 ((647,), (1.0,)),
 ((648,), (1.0,)),
 ((649,), (1.0,)),
 ((650,), (1.0,)),
 ((651,), (1.0,)),
 ((652,), (1.0,)),
 ((653,), (1.0,)),
 ((654,), (1.0,)),
 ((655,), (1.0,)),
 ((656,), (1.0,)),
 ((657,), (1.0,)),
 ((658,), (1.0,)),
 ((659,), (1.0,)),
 ((660,), (1.0,)),
 ((661,), (1.0,)),
 ((662,), (1.0,)),
 ((663,), (1.0,)),
 ((664,), (1.0,)),
 ((665,), (1.0,)),
 ((666,), (1.0,)),
 ((667,), (1.0,)),
 ((668,), (1.0,)),
 ((669,), (1.0,)),
 ((671,), (1.0,)),
 ((672,), (1.0,)),
 ((673,), (1.0,)),
 ((674,), (1.0,)),
 ((675,), (1.0,)),
 ((676,), (1.0,)),
 ((677,), (1.0,)),
 ((678,), (1.0,)),
 ((679,), (1.0,)),
 ((680,), (1.0,)),
 ((681,), (1.0,)),
 ((682,), (1.0,)),
 ((683,), (1.0,)),
 ((684,), (1.0,)),
 ((685,), (1.0,)),
 ((686,), (1.0,)),
 ((687,), (1.0,)),
 ((688,), (1.0,)),
 ((689,), (1.0,)),
 ((690,), (1.0,)),
 ((691,), (1.0,)),
 ((692,), (1.0,)),
 ((693,), (1.0,)),
 ((694,), (1.0,)),
 ((695,), (1.0,)),
 ((696,), (1.0,)),
 ((697,), (1.0,)),
 ((698,), (1.0,)),
 ((699,), (1.0,)),
 ((700,), (1.0,)),
 ((701,), (1.0,)),
 ((702,), (1.0,)),
 ((703,), (1.0,)),
 ((704,), (1.0,)),
 ((705,), (1.0,)),
 ((706,), (1.0,)),
 ((707,), (1.0,)),
 ((708,), (1.0,)),
 ((709,), (1.0,)),
 ((710,), (1.0,)),
 ((711,), (1.0,)),
 ((712,), (1.0,)),
 ((713,), (1.0,)),
 ((714,), (1.0,)),
 ((715,), (1.0,)),
 ((716,), (1.0,)),
 ((717,), (1.0,)),
 ((718,), (1.0,)),
 ((719,), (1.0,)),
 ((720,), (1.0,)),
 ((721,), (1.0,)),
 ((722,), (1.0,)),
 ((723,), (1.0,)),
 ((724,), (1.0,)),
 ((725,), (1.0,)),
 ((726,), (1.0,)),
 ((727,), (1.0,)),
 ((728,), (1.0,)),
 ((729,), (1.0,)),
 ((730,), (1.0,)),
 ((731,), (1.0,)),
 ((732,), (1.0,)),
 ((733,), (1.0,)),
 ((734,), (1.0,)),
 ((735,), (1.0,)),
 ((736,), (1.0,)),
 ((737,), (1.0,)),
 ((738,), (1.0,)),
 ((739,), (1.0,)),
 ((740,), (1.0,)),
 ((741,), (1.0,)),
 ((742,), (1.0,)),
 ((743,), (1.0,)),
 ((744,), (1.0,)),
 ((745,), (1.0,)),
 ((746,), (1.0,)),
 ((747,), (1.0,)),
 ((748,), (1.0,)),
 ((749,), (1.0,)),
 ((750,), (1.0,)),
 ((751,), (1.0,)),
 ((752,), (1.0,)),
 ((753,), (1.0,)),
 ((754,), (1.0,)),
 ((755,), (1.0,)),
 ((756,), (1.0,)),
 ((757,), (1.0,)),
 ((758,), (1.0,)),
 ((759,), (1.0,)),
 ((760,), (1.0,)),
 ((761,), (1.0,)),
 ((762,), (1.0,)),
 ((763,), (1.0,)),
 ((764,), (1.0,)),
 ((765,), (1.0,)),
 ((766,), (1.0,)),
 ((767,), (1.0,)),
 ((768,), (1.0,)),
 ((769,), (1.0,)),
 ((770,), (1.0,)),
 ((771,), (1.0,)),
 ((772,), (1.0,)),
 ((773,), (1.0,)),
 ((774,), (1.0,)),
 ((775,), (1.0,)),
 ((776,), (1.0,)),
 ((777,), (1.0,)),
 ((778,), (1.0,)),
 ((779,), (1.0,)),
 ((780,), (1.0,)),
 ((781,), (1.0,)),
 ((782,), (1.0,)),
 ((783,), (1.0,)),
 ((784,), (1.0,)),
 ((785,), (1.0,)),
 ((786,), (1.0,)),
 ((787,), (1.0,)),
 ((788,), (1.0,)),
 ((789,), (1.0,)),
 ((790,), (1.0,)),
 ((791,), (1.0,)),
 ((792,), (1.0,)),
 ((793,), (1.0,)),
 ((794,), (1.0,)),
 ((795,), (1.0,)),
 ((796,), (1.0,)),
 ((797,), (1.0,)),
 ((798,), (1.0,)),
 ((799,), (1.0,)),
 ((800,), (1.0,)),
 ((801,), (1.0,)),
 ((802,), (1.0,)),
 ((803,), (1.0,)),
 ((804,), (1.0,)),
 ((805,), (1.0,)),
 ((806,), (1.0,)),
 ((807,), (1.0,)),
 ((808,), (1.0,)),
 ((809,), (1.0,)),
 ((810,), (1.0,)),
 ((811,), (1.0,)),
 ((812,), (1.0,)),
 ((813,), (1.0,)),
 ((814,), (1.0,)),
 ((815,), (1.0,)),
 ((816,), (1.0,)),
 ((817,), (1.0,)),
 ((818,), (1.0,)),
 ((819,), (1.0,)),
 ((820,), (1.0,)),
 ((821,), (1.0,)),
 ((822,), (1.0,)),
 ((823,), (1.0,)),
 ((824,), (1.0,)),
 ((825,), (1.0,)),
 ((826,), (1.0,)),
 ((827,), (1.0,)),
 ((828,), (1.0,)),
 ((829,), (1.0,)),
 ((830,), (1.0,)),
 ((831,), (1.0,)),
 ((832,), (1.0,)),
 ((833,), (1.0,)),
 ((834,), (1.0,)),
 ((835,), (1.0,)),
 ((836,), (1.0,)),
 ((837,), (1.0,)),
 ((838,), (1.0,)),
 ((839,), (1.0,)),
 ((840,), (1.0,)),
 ((841,), (1.0,)),
 ((842,), (1.0,)),
 ((843,), (1.0,)),
 ((844,), (1.0,)),
 ((845,), (1.0,)),
 ((846,), (1.0,)),
 ((847,), (1.0,)),
 ((848,), (1.0,)),
 ((849,), (1.0,)),
 ((850,), (1.0,)),
 ((851,), (1.0,)),
 ((852,), (1.0,)),
 ((853,), (1.0,)),
 ((854,), (1.0,)),
 ((855,), (1.0,)),
 ((857,), (1.0,)),
 ((858,), (1.0,)),
 ((859,), (1.0,)),
 ((860,), (1.0,)),
 ((861,), (1.0,)),
 ((862,), (1.0,)),
 ((863,), (1.0,)),
 ((864,), (1.0,)),
 ((865,), (1.0,)),
 ((866,), (1.0,)),
 ((867,), (1.0,)),
 ((868,), (1.0,)),
 ((869,), (1.0,)),
 ((870,), (1.0,)),
 ((871,), (1.0,)),
 ((872,), (1.0,)),
 ((873,), (1.0,)),
 ((874,), (1.0,)),
 ((875,), (1.0,)),
 ((876,), (1.0,)),
 ((877,), (1.0,)),
 ((878,), (1.0,)),
 ((879,), (1.0,)),
 ((880,), (1.0,)),
 ((881,), (1.0,)),
 ((882,), (1.0,)),
 ((883,), (1.0,)),
 ((884,), (1.0,)),
 ((885,), (1.0,)),
 ((886,), (1.0,)),
 ((887,), (1.0,)),
 ((888,), (1.0,)),
 ((889,), (1.0,)),
 ((890,), (1.0,)),
 ((891,), (1.0,)),
 ((892,), (1.0,)),
 ((893,), (1.0,)),
 ((894,), (1.0,)),
 ((895,), (1.0,)),
 ((896,), (1.0,)),
 ((897,), (1.0,)),
 ((898,), (1.0,)),
 ((899,), (1.0,)),
 ((900,), (1.0,)),
 ((901,), (1.0,)),
 ((903,), (1.0,)),
 ((904,), (1.0,)),
 ((905,), (1.0,)),
 ((906,), (1.0,)),
 ((907,), (1.0,)),
 ((908,), (1.0,)),
 ((909,), (1.0,)),
 ((910,), (1.0,)),
 ((911,), (1.0,)),
 ((912,), (1.0,)),
 ((913,), (1.0,)),
 ((914,), (1.0,)),
 ((915,), (1.0,)),
 ((916,), (1.0,)),
 ((917,), (1.0,)),
 ((918,), (1.0,)),
 ((919,), (1.0,)),
 ((920,), (1.0,)),
 ((921,), (1.0,)),
 ((922,), (1.0,)),
 ((923,), (1.0,)),
 ((924,), (1.0,)),
 ((925,), (1.0,)),
 ((926,), (1.0,)),
 ((927,), (1.0,)),
 ((928,), (1.0,)),
 ((929,), (1.0,)),
 ((930,), (1.0,)),
 ((931,), (1.0,)),
 ((932,), (1.0,)),
 ((933,), (1.0,)),
 ((934,), (1.0,)),
 ((935,), (1.0,)),
 ((936,), (1.0,)),
 ((937,), (1.0,)),
 ((938,), (1.0,)),
 ((939,), (1.0,)),
 ((940,), (1.0,)),
 ((941,), (1.0,)),
 ((943,), (1.0,)),
 ((944,), (1.0,)),
 ((945,), (1.0,)),
 ((946,), (1.0,)),
 ((947,), (1.0,)),
 ((948,), (1.0,)),
 ((949,), (1.0,)),
 ((950,), (1.0,)),
 ((951,), (1.0,)),
 ((952,), (1.0,)),
 ((953,), (1.0,)),
 ((954,), (1.0,)),
 ((955,), (1.0,)),
 ((956,), (1.0,)),
 ((957,), (1.0,)),
 ((958,), (1.0,)),
 ((959,), (1.0,)),
 ((960,), (1.0,)),
 ((961,), (1.0,)),
 ((962,), (1.0,)),
 ((963,), (1.0,)),
 ((964,), (1.0,)),
 ((965,), (1.0,)),
 ((966,), (1.0,)),
 ((967,), (1.0,)),
 ((968,), (1.0,)),
 ((969,), (1.0,)),
 ((970,), (1.0,)),
 ((971,), (1.0,)),
 ((972,), (1.0,)),
 ((973,), (1.0,)),
 ((974,), (1.0,)),
 ((975,), (1.0,)),
 ((976,), (1.0,)),
 ((977,), (1.0,)),
 ((978,), (1.0,)),
 ((979,), (1.0,)),
 ((980,), (1.0,)),
 ((981,), (1.0,)),
 ((982,), (1.0,)),
 ((983,), (1.0,)),
 ((984,), (1.0,)),
 ((985,), (1.0,)),
 ((986,), (1.0,)),
 ((987,), (1.0,)),
 ((988,), (1.0,)),
 ((989,), (1.0,)),
 ((990,), (1.0,)),
 ((991,), (1.0,)),
 ((992,), (1.0,)),
 ((993,), (1.0,)),
 ((994,), (1.0,)),
 ((995,), (1.0,)),
 ((996,), (1.0,)),
 ((997,), (1.0,)),
 ((998,), (1.0,)),
 ...]

We can also output only individual entries:

In [19]:
dupes[1]

((136, 1360), (1.0, 1.0))

We can then display these with [pandas.DataFrame.iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html):

In [20]:
customers.iloc[[136,1360]]

,name,job,company,street_address,city,state,email,user_name
136,Frédérique Lejeune-Daniel,Technicien chimiste,Schmitt,chemin Denise Ferrand,Saint CharlotteVille,IE,jchretien@costa.com,joseph60
1360,Frédérique Lejeune-Daniel,Tecce cse,Sctmitt,chemin Denise Ferrand,Saint ChalotteVille,IE,jchretien@costacom,joseph60